.Toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  appearance: none;
  border-radius: 15px;
  border: 2px solid #1797ff;
  height: 32px;
  background: #f2f2f2;
  color: lightgray;
  padding: 5px 15px;
  transition: all 0.3s;

  &:hover {
    transform: scale(1.15);
    background-color: #9dcfff;
    color: #fff;
  }

  &:active {
    transform: scale(1);
  }

  &.active {
    background: #1797ff;
    color: #fff;
    border-color: #2e2e2e;
  }
}