@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Baskervville&family=Roboto:wght@400;500&display=swap');

* {
  box-sizing: border-box;
}

.max-container {
  width: 100%;
  max-width: 1140px;
  margin: auto;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  background-color: #fcfcfc;
}

h1 {
  font-family: Baskervville, serif;
  font-weight: normal;
}